{% extends 'layout.html' %}
{% load static %}


{% block header %}
  {% include 'components/header.html' with no_bottom=True %}
{% endblock %}

{% block page_content %}
  <div class="wrap">
    <div class="wrapper">
      <div class="header">
        <h3 class="sign-in">Вход</h3>
      </div>
      <div class="clear"></div>
      <form method="post">
        {% csrf_token %}
        <div>
          {{ form.username }}
        </div>
        <div>
          {{ form.password }}
        </div>
        <div>
          <input type="submit" value="Войти"/>
        </div>
        <a class="forgot-label" href="/profile/reset_password/stage_1">Забыли пароль?</a>
        <a class="registr" href="/profile/register">
          Регистрация
        </a>
      </form>
    </div>

  </div>
{% endblock %}
