{% extends 'layout.html' %}
{% load static i18n custom_filters %}


{% block page_content %}
  <div class="Middle Middle_top">
    <div class="Middle-top">
      <div class="wrap">
        <div class="Middle-header">
          <h1 class="Middle-title">{% trans 'order' %} №{{ order.pk }}</h1>
        </div>
      </div>
    </div>
    <div class="Section">
      <div class="wrap">
        <div class="Section-content">
          <div class="Orders">
          </div>
          <div class="Order">
            <div class="Order-infoBlock">
              <div class="Order-personal">
                <div class="row">
                  <div class="row-block">
                    <div class="Order-info Order-info_date">
                      <div class="Order-infoType">{% trans 'Order date' %}:</div>
                      <div class="Order-infoContent">{{ order.created }}
                      </div>
                    </div>
                    <div class="Order-info">
                      <div class="Order-infoType">{{ form.name.label }}:</div>
                      <div class="Order-infoContent">{{ form.name.value }}
                      </div>
                    </div>
                    <div class="Order-info">
                      <div class="Order-infoType">{{ form.phone.label }}:</div>
                      <div class="Order-infoContent">{{ form.phone.value }}
                      </div>
                    </div>
                    <div class="Order-info">
                      <div class="Order-infoType">{{ form.email.label }}:</div>
                      <div class="Order-infoContent">{{ form.email.value }}
                      </div>
                    </div>
                  </div>
                  <div class="row-block">
                    <div class="Order-info Order-info_delivery">
                      <div class="Order-infoType">{% trans 'Delivery type' %}:</div>
                      <div class="Order-infoContent">{{ delivery_category }}
                      </div>
                    </div>
                    <div class="Order-info">
                      <div class="Order-infoType">{{ form.city.label }}:</div>
                      <div class="Order-infoContent">{{ form.city.value }}
                      </div>
                    </div>
                    <div class="Order-info">
                      <div class="Order-infoType">{{ form.address.label }}:</div>
                      <div class="Order-infoContent">{{ form.address.value }}
                      </div>
                    </div>
                    <div class="Order-info Order-info_pay">
                      <div class="Order-infoType">{% trans 'Payment' %}:</div>
                      <div class="Order-infoContent">{{ payment.payment_category.name }}
                      </div>
                    </div>
                    <div class="Order-info Order-info_status">
                      <div class="Order-infoType">{% trans 'Status' %}:</div>
                      <div class="Order-infoContent">{{ payment.get_is_passed_display }}
                      </div>
                    </div>
                    {% if not payment.is_passed %}
                      <div class="Order-info Order-info_error">
                        <div class="Order-infoType">Оплата не прошла:
                        </div>
                        <div class="Order-infoContent">Оплата не выполнена
                        </div>
                      </div>
                    {% endif %}
                  </div>
                </div>
              </div>
              <div class="Cart Cart_order">
                {% for item in goods %}
                  <div class="Cart-product">
                    <div class="Cart-block Cart-block_row">
                      <div class="Cart-block Cart-block_pict">
                        <a class="Cart-pict" href="{{ item.product.product.get_absolute_url }}">
                          <img class="Cart-img" src="{{ item.product.product.main_image.small.url }}"
                               alt="{{ item.product.product.slug }}"/>
                        </a>
                      </div>
                      <div class="Cart-block Cart-block_info">
                        <a class="Cart-title"
                           href="{{ item.product.product.get_absolute_url }}">{{ item.product.product.name }}</a>
                        <div class="Cart-desc">{{ item.product.product.short_description }}</div>
                      </div>
                      <div class="Cart-block Cart-block_price">
                        {% if request.LANGUAGE_CODE == 'ru' %}
                          <div class="Cart-price">{{ item.price_on_add_moment }}</div>
                        {% else %}
                          <div class="Cart-price">{{ item.price_on_add_moment|dollar_conversion }}</div>
                        {% endif %}
                      </div>
                    </div>
                    <div class="Cart-block Cart-block_row">
                      <div class="Cart-block Cart-block_amount">{{ item.quantity }} {% trans 'pcs.' %}</div>
                    </div>
                  </div>
                {% endfor %}

                <div class="Cart-total">
                  <div class="Cart-block Cart-block_total">
                    <strong class="Cart-title">
                      {% trans 'Total' %}:
                      {% if request.LANGUAGE_CODE == 'ru' %}
                        <span class="Cart-price">{{ payment.total_price }}</span>
                      {% else %}
                        <span class="Cart-price">{{ payment.total_price|dollar_conversion }}</span>
                      {% endif %}
                    </strong>
                  </div>
                  {% if not payment.is_passed %}
                    <div class="Cart-block">
                      <a class="btn btn_primary btn_lg" href="{% url 'payment' %}">{% trans 'Pay' %}</a>
                    </div>
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
