{% extends 'layout.html' %}
{% load static i18n %}

{% block page_content %}
  <div class="Middle Middle_top">
    <div class="Section Section_column Section_columnRight Section_columnWide Order">
      <div class="wrap">
        <div class="Section-column">
          <div class="Section-columnSection">
            <header class="Section-header">
              <strong class="Section-title">{% trans 'Fill progress' %}</strong>
            </header>
            <div class="Section-columnContent">
              <div class="NavigateProfile">
                <form action="" method="post">
                  {% csrf_token %}
                  <ul class="menu menu_vt Order-navigate">
                    <li class="menu-item_ACTIVE menu-item">
                      <a class="menu-link" href="#step1">{% trans 'Step 1: User Options' %}</a>
                    </li>
                    <li class="menu-item">
                      <a class="menu-link" href="#step2">{% trans 'Step 2 Shipping Method' %}</a>
                    </li>
                    <li class="menu-item">
                      <a class="menu-link" href="#step3">{% trans 'Step 3. Payment method' %}</a>
                    </li>
                    <li class="menu-item">
                      <a class="menu-link" href="#step4">{% trans 'Step 4. Order confirmation' %}</a>
                    </li>
                  </ul>
                </form>
              </div>
            </div>
          </div>
        </div>
        <form class="form" action="#" method="post">
          {% csrf_token %}
          <div class="Order-block Order-block_OPEN" id="step1">
            <header class="Section-header Section-header_sm">
              <h2 class="Section-title">{% trans 'Step 1: User Options' %}
              </h2>
            </header>
            <div class="row">
              <div class="row-block">
                {{ form1.as_p }}
              </div>
            </div>
            <div class="Order-footer">
              <a class="btn btn_success Order-next" href="#step2">{% trans 'Next' %}</a>
            </div>
          </div>
          <div class="Order-block" id="step2">
            <header class="Section-header Section-header_sm">
              <h2 class="Section-title">{% trans 'Step 2 Shipping Method' %}</h2>
            </header>
            <div class="form-group">
              {% for radio in form2.category %}
                <div>
                  <label class="toggle">
                    {% if forloop.counter == 1 %}
                      <input type="radio" name="delivery" value="{{ radio.choice_label.value }}" checked/>
                    {% else %}
                      <input type="radio" name="delivery" value="{{ radio.choice_label.value }}"/>
                    {% endif %}
                    <span class="toggle-box"></span>
                    <span class="toggle-text">{{ radio.choice_label.name }}</span>
                  </label>
                </div>
              {% endfor %}
            </div>
            {% for field in form2 %}
              {% if field.name != 'category' %}
                <div class="form-group">
                  <label for="{{ field.auto_id }}">{{ field.label }}</label>
                  {{ field }}
                </div>
              {% endif %}
            {% endfor %}
            <div class="Order-footer">
              <a class="btn btn_success Order-next" href="#step3">{% trans 'Next' %}</a>
            </div>
          </div>
          <div class="Order-block" id="step3">
            <header class="Section-header Section-header_sm">
              <h2 class="Section-title">{% trans 'Step 3. Payment method' %}</h2>
            </header>
            <div class="form-group">
              {% for radio in form3.category %}
                <div>
                  <label class="toggle">
                    {% if forloop.counter == 1 %}
                      <input type="radio" name="pay" value="{{ radio.choice_label.value }}" checked/>
                    {% else %}
                      <input type="radio" name="pay" value="{{ radio.choice_label.value }}"/>
                    {% endif %}
                    <span class="toggle-box"></span>
                    <span class="toggle-text">{{ radio.choice_label.name }}</span>
                  </label>
                </div>
              {% endfor %}
            </div>
            <div class="Order-footer">
              <a class="btn btn_success Order-next" href="#step4">{% trans 'Next' %}</a>
            </div>
          </div>
          <div class="Order-block" id="step4">
            <header class="Section-header Section-header_sm">
              <h2 class="Section-title">{% trans 'Step 4. Order confirmation' %}</h2>
            </header>
            <div class="Order-infoBlock">
              <div class="Order-personal">
                <div class="row">
                  <div class="row-block">
                    <div class="Order-info">
                      <div class="Order-infoType">{{ form1.full_name.label }}:</div>
                      <div class="Order-infoContent" id="full_name_value"></div>
                    </div>
                    <div class="Order-info">
                      <div class="Order-infoType">{{ form1.phone.label }}:</div>
                      <div class="Order-infoContent" id="phone_value"></div>
                    </div>
                    <div class="Order-info">
                      <div class="Order-infoType">{{ form1.email.label }}:</div>
                      <div class="Order-infoContent" id="email_value"></div>
                    </div>
                  </div>
                  <div class="row-block">
                    <div class="Order-info Order-info_delivery">
                      <div class="Order-infoType">{% trans 'Delivery type' %}:</div>
                      <div class="Order-infoContent" id="delivery_value"></div>
                    </div>
                    <div class="Order-info">
                      <div class="Order-infoType">{{ form2.city.label }}:</div>
                      <div class="Order-infoContent" id="city_value"></div>
                    </div>
                    <div class="Order-info">
                      <div class="Order-infoType">{{ form2.address.label }}:</div>
                      <div class="Order-infoContent" id="address_value"></div>
                    </div>
                    <div class="Order-info Order-info_pay">
                      <div class="Order-infoType">{% trans 'Payment' %}:</div>
                      <div class="Order-infoContent" id="pay_value"></div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="Cart Cart_order">
                <div class="Cart-product">
                  <div class="Cart-block Cart-block_row">
                    <div class="Cart-block Cart-block_pict">
                      <a class="Cart-pict" href="#">
                        <img class="Cart-img" src="assets/img/content/home/card.jpg" alt="card.jpg"/>
                      </a>
                    </div>
                    <div class="Cart-block Cart-block_info">
                      <a class="Cart-title" href="#">Ноутбук</a>
                      <div class="Cart-desc">Это супер ноутбук, 3 гб. 4 ядра</div>
                    </div>
                    <div class="Cart-block Cart-block_price">
                      <div class="Cart-price">80.00$</div>
                    </div>
                  </div>
                  <div class="Cart-block Cart-block_row">
                    <div class="Cart-block Cart-block_amount">1 шт.</div>
                  </div>
                </div>
                <div class="Cart-product">
                  <div class="Cart-block Cart-block_row">
                    <div class="Cart-block Cart-block_pict">
                      <a class="Cart-pict" href="#">
                        <img class="Cart-img" src="assets/img/content/sale/product.png" alt="product.png"/>
                      </a>
                    </div>
                    <div class="Cart-block Cart-block_info">
                      <a class="Cart-title" href="#">Планшет</a>
                      <div class="Cart-desc">Это планшет с современным железом. Процессор последнего поколения</div>
                    </div>
                    <div class="Cart-block Cart-block_price">
                      <div class="Cart-price">40.99$</div>
                    </div>
                  </div>
                  <div class="Cart-block Cart-block_row">
                    <div class="Cart-block Cart-block_amount">1 шт.</div>
                  </div>
                </div>
                <div class="Cart-product">
                  <div class="Cart-block Cart-block_row">
                    <div class="Cart-block Cart-block_pict">
                      <a class="Cart-pict" href="#">
                        <img class="Cart-img" src="assets/img/content/home/card.jpg" alt="card.jpg"/>
                      </a>
                    </div>
                    <div class="Cart-block Cart-block_info">
                      <a class="Cart-title" href="#">Ноутбук</a>
                      <div class="Cart-desc">Это супер ноутбук, 3 гб. 4 ядра</div>
                    </div>
                    <div class="Cart-block Cart-block_price">
                      <div class="Cart-price">80.00$</div>
                    </div>
                  </div>
                  <div class="Cart-block Cart-block_row">
                    <div class="Cart-block Cart-block_amount">1 шт.</div>
                  </div>
                </div>
                <div class="Cart-total">
                  <div class="Cart-block Cart-block_total">
                    <strong class="Cart-title">{% trans 'Total' %}:
                    </strong><span class="Cart-price">200.99$</span>
                  </div>
                  <div class="Cart-block">
                    <button class="btn btn_primary btn_lg" type="submit">{% trans 'Pay' %}</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <script src="{% static 'js/order.js' %}"></script>
{% endblock %}
