{% extends 'layout.html' %}
{% load static %}


{% block header %}
  {% include 'components/header.html' with no_bottom=True %}
{% endblock %}
{% block page_content %}
  <div class="wrap">
    <div class="wrapper">
      <div class="header">
        <h3 class="sign-in">Регистрация</h3>
      </div>
      <div class="clear"></div>
      <form method="post">
        {% csrf_token %}
        <div>
          <input class="user-input" type="text" name="username" id="name" placeholder="Имя"/>
          {{ form.username.errors }}
        </div>
        <div>
          <input class="user-input" type="email" name="email" id="name" placeholder="E-mail"/>
          {{ form.email.errors }}
        </div>
        <div>
          <input type="password" name="password" id="name" placeholder="Пароль"/>
          {{ form.password.errors }}
        </div>
        <input type="submit" value="Зарегистрироваться"/>
        <a class="registr" href="login.html">
          Вход
        </a>
        <div class="clear"></div>
      </form>
    </div>

  </div>
{% endblock %}