{% extends 'layout.html' %}
{% load static %}


{% block header %}
  {% include 'components/header.html' with no_bottom=True %}
{% endblock %}
{% block page_content %}
  <div class="wrap">
    <div class="wrapper">
      <div class="header">
        <h3 class="sign-in">Регистрация</h3>
      </div>
      <div class="clear"></div>
      <form method="post">
        {% csrf_token %}
        <div>
          {{ form.username }}
          {{ form.username.errors }}
        </div>
        <div>
          {{ form.email }}
          {{ form.email.errors }}
        </div>
        <div>
          {{ form.password }}
          {{ form.password.errors }}
        </div>
        <input type="submit" value="Зарегистрироваться"/>


        <a class="registr" href="{% url 'login' %}">Вход</a>
        <div class="clear"></div>
      </form>
    </div>

  </div>
{% endblock %}